# Postgres
DB_NAME=community_management_system
DB_HOST=localhost
DB_PORT=5432
DB_USER=dev_user
DB_PASSWORD=dev_password
DB_EXTERNAL_PORT=5432

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_EXTERNAL_PORT=6379

# Backend
APP_EXTERNAL_PORT=8080

# JWT
# A sufficiently long Base64-encoded random string.
JWT_SECRET=
